#Options +FollowSymLinks
Options -Indexes
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
DirectoryIndex index.php index.html index.hml
<IfModule mod_headers.c>  
Header unset Server  
Header unset X-Powered-By 
Header set Server-Side-By "Baravak"
</IfModule>

Header set Company "Mixa Inc"
Header set Version 0.3.0
Header unset ETag
<FilesMatch "\.(js|css|pdf|txt|ttf|otf|eot|svg|png|jpeg|jpg|gif|ico|woff|woff2)$">
Header set Cache-Control "max-age=31536000, proxy-revalidate"
SetOutputFilter DEFLATE
</FilesMatch>
<FilesMatch "(?<!\.css|\.js|\.pdf|\.txt|\.ttf|\.otf|\.eot|\.svg|\.png|\.jpeg|\.jpg|\.ico|\.gif|\.woff|\.woff2)$">
<IfModule mod_expires.c>
Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
Header set ONX "noh"
Header unset Last-Modified
</IfModule>
</FilesMatch>

RewriteCond         %{REQUEST_FILENAME}      !-d
RewriteCond         %{REQUEST_FILENAME}      !-s
RewriteRule         ^(.*) /index.php/$1

ErrorDocument 404 /index.php
