{%extends "display.html"%}

{%block content%}
{%if u_login%}
<section>
	<p class="alert alert-block alert-error">شما با اکانت خود وارد سامانه شده اید! برای بازیابی گذرواژه باید از سامانه <a href="logout" title="خروج از سامانه">خارج شوید!</a></p>
</section>
{%else%}
<section>
	<p class="alert alert-block alert-info">برای بازیابی کلمه عبور رایانامه خود را در کادر زیر وارد کنید. ما ایمیلی را برای شما ارسال میکنیم که با تایید آن گذرواژه جدید برای ورود به سامانه در اختیار شما قرار خواهد گرفت.</p>
	<p>در صورتی که رمز عبور خود را فراموش کرده اید، می توانید با وارد کردن آدرس ایمیلتان (همان آدرس ایمیلی که در حساب کاربری خود ثبت کرده اید)، برای خود رمز عبور جدید انتخاب کنید. به این ترتیب، ایمیلی برای شما ارسال می شود که حاوی لینکی است که با کلیک کردن بر روی آن می توانید وارد بخش کاربری خود شوید و رمز عبور خود را مجدداً انتخاب نمایید.<br /><br />
		در صورتی که قبلاً آدرس ایمیلی در حساب کاربری خود ثبت نکرده اید، لطفاً با بخش پشتیبانی تماس بگیرید.</p>        
	</p>
	{% import "./macro/form.html" as forms %}
	<form method="post" action="forgotten" id="forgotten" class="ajx">{{forms.make(form)}}</form>
</section>
{%endif%}
{%endblock%}

{%block before_content%}{%endblock%}
{%block after_content%}{%endblock%}
